.Price{
    background-color: rgb(72, 72, 72);
    padding-top: 3em;
    padding-bottom: 2em;
    margin-top: -2px;
    background-image: url("../../../img/background_image_3.png");
    background-position: center;
    background-size: cover;
}

.offer{
    background-color: white;
    width: 50vh;
    border-radius: 5px;
    border-width: 1px;
    transition: 0.5s;
    margin: 10px;
}

.offer_top{
    background-color: rgb(17, 18, 19);
    color: white;
}

.offer_top, .Offers{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.offer_top h2{
    font-size: 2vh;
}

.offer_options{
    padding-top: 1.5em;
    background-color: rgb(24, 26, 27);
}

.offer_options p{
    font-size: 1.8vh;
    color: white;
    margin: 0;
    padding: 8px;
}

.offer_button{
    padding-top: 1.5em;
    padding-bottom: 1.5em;    
    background-color: rgb(24, 26, 27);
}

.offer_button button{
    background-color: rgb(21, 23, 24);
    color: white;
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    padding-left: 5vh;
    padding-right: 5vh;
    font-size: 1.6vh;

}

.offer_button button:hover{
    cursor: pointer;
}

.offer:hover{
    -webkit-box-shadow: rgb(0, 0, 0) 0px 10px 13px -7px, 0px 0px 5px 4px rgba(0,0,0,0); 
    box-shadow: rgb(0, 0, 0) 0px 10px 13px -7px, 0px 0px 5px 4px rgba(0,0,0,0);
    transition: 0.5s;
}

#price_title{
    font-size: 4vh;
    font-weight: bold;
    margin: 0;
    color: white;
    margin-bottom: 2.5em;
}